---
import { t } from "i18next";
---

<div class="fixed bottom-5 w-full z-[100] px-4">
  <a
    href="https://dotlabs.academy/"
    id="backToHomeLink"
    class="hidden bg-main py-1 px-3 text-white rounded-md text-right"
  >
    {t("buttons.backToHome")}
  </a>
</div>

<script>
  const backToHomeLink = document.getElementById("backToHomeLink");
  if (document.referrer === "https://dotlabs.academy/") {
    backToHomeLink?.classList.remove("hidden");
  }
</script>
