---
import Header from "../components/Header.astro";
import { backgroundGradientColor } from "../utils/constants";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Footer from "../components/Footer.astro";
import { t } from "i18next";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={t("header.description")} />
    <meta property="og:image" content="/dotlabs.jpg" />
    <meta property="og:image:secure_url" content="/dotlabs.jpg" />
    <meta property="image" content="/dotlabs.jpg" />
    <HeadHrefLangs />
  </head>
  <body class={`w-full mx-auto ${backgroundGradientColor}`}>
    <Header />
    <main class="mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
